:root, [data-theme="default"] {
  
  --color-primary-darker-h:  164; --color-primary-darker-s:  44%; --color-primary-darker-l:  39%; --color-primary-darker: hsl( 164, 44%, 39%);
  --color-primary-dark-h:  164; --color-primary-dark-s:  44%; --color-primary-dark-l:  49%; --color-primary-dark: hsl( 164, 44%, 49%);
  --color-primary-h:  164; --color-primary-s:  44%; --color-primary-l:  59%; --color-primary: hsl( 164, 44%, 59%);
  --color-primary-light-h:  164; --color-primary-light-s:  44%; --color-primary-light-l:  69%; --color-primary-light: hsl( 164, 44%, 69%);
  --color-primary-lighter-h:  164; --color-primary-lighter-s:  44%; --color-primary-lighter-l:  79%; --color-primary-lighter: hsl( 164, 44%, 79%);

  --color-accent-darker-h:  2; --color-accent-darker-s:  84%; --color-accent-darker-l:  55%; --color-accent-darker: hsl( 2, 84%, 55%);
  --color-accent-dark-h:  2; --color-accent-dark-s:  84%; --color-accent-dark-l:  65%; --color-accent-dark: hsl( 2, 84%, 65%);
  --color-accent-h:  2; --color-accent-s:  84%; --color-accent-l:  75%; --color-accent: hsl( 2, 84%, 75%);
  --color-accent-light-h:  2; --color-accent-light-s:  84%; --color-accent-light-l:  85%; --color-accent-light: hsl( 2, 84%, 85%);
  --color-accent-lighter-h:  2; --color-accent-lighter-s:  84%; --color-accent-lighter-l:  95%; --color-accent-lighter: hsl( 2, 84%, 95%);

  --color-secondary-darker-h:  42; --color-secondary-darker-s:  100%; --color-secondary-darker-l:  54%; --color-secondary-darker: hsl( 42, 100%, 54%);
  --color-secondary-dark-h:  42; --color-secondary-dark-s:  100%; --color-secondary-dark-l:  64%; --color-secondary-dark: hsl( 42, 100%, 64%);
  --color-secondary-h:  42; --color-secondary-s:  100%; --color-secondary-l:  74%; --color-secondary: hsl( 42, 100%, 74%);
  --color-secondary-light-h:  42; --color-secondary-light-s:  100%; --color-secondary-light-l:  84%; --color-secondary-light: hsl( 42, 100%, 84%);
  --color-secondary-lighter-h:  42; --color-secondary-lighter-s:  100%; --color-secondary-lighter-l:  94%; --color-secondary-lighter: hsl( 42, 100%, 94%);

  --color-tertiary-darker-h:  193; --color-tertiary-darker-s:  63%; --color-tertiary-darker-l:  60%; --color-tertiary-darker: hsl( 193, 63%, 60%);
  --color-tertiary-dark-h:  193; --color-tertiary-dark-s:  63%; --color-tertiary-dark-l:  70%; --color-tertiary-dark: hsl( 193, 63%, 70%);
  --color-tertiary-h:  193; --color-tertiary-s:  63%; --color-tertiary-l:  80%; --color-tertiary: hsl( 193, 63%, 80%);
  --color-tertiary-light-h:  193; --color-tertiary-light-s:  63%; --color-tertiary-light-l:  90%; --color-tertiary-light: hsl( 193, 63%, 90%);
  --color-tertiary-lighter-h:  193; --color-tertiary-lighter-s:  63%; --color-tertiary-lighter-l:  100%; --color-tertiary-lighter: hsl( 193, 63%, 100%);

  --color-quaternary-darker-h:  338; --color-quaternary-darker-s:  65%; --color-quaternary-darker-l:  35%; --color-quaternary-darker: hsl( 338, 65%, 35%);
  --color-quaternary-dark-h:  338; --color-quaternary-dark-s:  65%; --color-quaternary-dark-l:  45%; --color-quaternary-dark: hsl( 338, 65%, 45%);
  --color-quaternary-h:  338; --color-quaternary-s:  65%; --color-quaternary-l:  55%; --color-quaternary: hsl( 338, 65%, 55%);
  --color-quaternary-light-h:  338; --color-quaternary-light-s:  65%; --color-quaternary-light-l:  65%; --color-quaternary-light: hsl( 338, 65%, 65%);
  --color-quaternary-lighter-h:  338; --color-quaternary-lighter-s:  65%; --color-quaternary-lighter-l:  75%; --color-quaternary-lighter: hsl( 338, 65%, 75%);

  --color-black-h:  240; --color-black-s:  2%; --color-black-l:  26%; --color-black: hsl( 240, 2%, 26%);
  --color-white-h:  0; --color-white-s:  0%; --color-white-l:  100%; --color-white: hsl( 0, 0%, 100%);

  
  --color-warning-darker-h:  46; --color-warning-darker-s:  100%; --color-warning-darker-l:  47%; --color-warning-darker: hsl( 46, 100%, 47%);
  --color-warning-dark-h:  46; --color-warning-dark-s:  100%; --color-warning-dark-l:  50%; --color-warning-dark: hsl( 46, 100%, 50%);
  --color-warning-h:  46; --color-warning-s:  100%; --color-warning-l:  61%; --color-warning: hsl( 46, 100%, 61%);
  --color-warning-light-h:  46; --color-warning-light-s:  100%; --color-warning-light-l:  71%; --color-warning-light: hsl( 46, 100%, 71%);
  --color-warning-lighter-h:  46; --color-warning-lighter-s:  100%; --color-warning-lighter-l:  80%; --color-warning-lighter: hsl( 46, 100%, 80%);

  --color-success-darker-h:  94; --color-success-darker-s:  48%; --color-success-darker-l:  42%; --color-success-darker: hsl( 94, 48%, 42%);
  --color-success-dark-h:  94; --color-success-dark-s:  48%; --color-success-dark-l:  48%; --color-success-dark: hsl( 94, 48%, 48%);
  --color-success-h:  94; --color-success-s:  48%; --color-success-l:  56%; --color-success: hsl( 94, 48%, 56%);
  --color-success-light-h:  94; --color-success-light-s:  48%; --color-success-light-l:  65%; --color-success-light: hsl( 94, 48%, 65%);
  --color-success-lighter-h:  94; --color-success-lighter-s:  48%; --color-success-lighter-l:  74%; --color-success-lighter: hsl( 94, 48%, 74%);

  --color-error-darker-h:  349; --color-error-darker-s:  75%; --color-error-darker-l:  36%; --color-error-darker: hsl( 349, 75%, 36%);
  --color-error-dark-h:  349; --color-error-dark-s:  75%; --color-error-dark-l:  44%; --color-error-dark: hsl( 349, 75%, 44%);
  --color-error-h:  349; --color-error-s:  75%; --color-error-l:  51%; --color-error: hsl( 349, 75%, 51%);
  --color-error-light-h:  349; --color-error-light-s:  75%; --color-error-light-l:  59%; --color-error-light: hsl( 349, 75%, 59%);
  --color-error-lighter-h:  349; --color-error-lighter-s:  75%; --color-error-lighter-l:  67%; --color-error-lighter: hsl( 349, 75%, 67%);

  
  --color-bg-h:  0; --color-bg-s:  0%; --color-bg-l:  100%; --color-bg: hsl( 0, 0%, 100%);
  --color-contrast-lower-h:  0; --color-contrast-lower-s:  0%; --color-contrast-lower-l:  96%; --color-contrast-lower: hsl( 0, 0%, 96%);
  --color-contrast-low-h:  0; --color-contrast-low-s:  0%; --color-contrast-low-l:  86%; --color-contrast-low: hsl( 0, 0%, 86%);
  --color-contrast-medium-h:  240; --color-contrast-medium-s:  1%; --color-contrast-medium-l:  57%; --color-contrast-medium: hsl( 240, 1%, 57%);
  --color-contrast-high-h:  240; --color-contrast-high-s:  2%; --color-contrast-high-l:  33%; --color-contrast-high: hsl( 240, 2%, 33%);
  --color-contrast-higher-h:  240; --color-contrast-higher-s:  2%; --color-contrast-higher-l:  26%; --color-contrast-higher: hsl( 240, 2%, 26%);

  
  --gradient-primary-stop-1-h:  2; --gradient-primary-stop-1-s:  84%; --gradient-primary-stop-1-l:  75%; --gradient-primary-stop-1: hsl( 2, 84%, 75%);
  --gradient-primary-stop-2-h:  42; --gradient-primary-stop-2-s:  100%; --gradient-primary-stop-2-l:  74%; --gradient-primary-stop-2: hsl( 42, 100%, 74%);
  --gradient-secondary-stop-1-h:  338; --gradient-secondary-stop-1-s:  65%; --gradient-secondary-stop-1-l:  55%; --gradient-secondary-stop-1: hsl( 338, 65%, 55%);
  --gradient-secondary-stop-2-h:  214; --gradient-secondary-stop-2-s:  44%; --gradient-secondary-stop-2-l:  59%; --gradient-secondary-stop-2: hsl( 214, 44%, 59%);
  --gradient-tertiary-stop-1-h:  164; --gradient-tertiary-stop-1-s:  44%; --gradient-tertiary-stop-1-l:  59%; --gradient-tertiary-stop-1: hsl( 164, 44%, 59%);
  --gradient-tertiary-stop-2-h:  240; --gradient-tertiary-stop-2-s:  2%; --gradient-tertiary-stop-2-l:  26%; --gradient-tertiary-stop-2: hsl( 240, 2%, 26%);
}

@supports(--css: variables) {
  [data-theme="dark"] {
    
    --color-primary-darker-h:  164; --color-primary-darker-s:  44%; --color-primary-darker-l:  39%; --color-primary-darker: hsl( 164, 44%, 39%);
    --color-primary-dark-h:  164; --color-primary-dark-s:  44%; --color-primary-dark-l:  49%; --color-primary-dark: hsl( 164, 44%, 49%);
    --color-primary-h:  164; --color-primary-s:  44%; --color-primary-l:  59%; --color-primary: hsl( 164, 44%, 59%);
    --color-primary-light-h:  164; --color-primary-light-s:  44%; --color-primary-light-l:  69%; --color-primary-light: hsl( 164, 44%, 69%);
    --color-primary-lighter-h:  164; --color-primary-lighter-s:  44%; --color-primary-lighter-l:  79%; --color-primary-lighter: hsl( 164, 44%, 79%);

    --color-accent-darker-h:  2; --color-accent-darker-s:  84%; --color-accent-darker-l:  55%; --color-accent-darker: hsl( 2, 84%, 55%);
    --color-accent-dark-h:  2; --color-accent-dark-s:  84%; --color-accent-dark-l:  65%; --color-accent-dark: hsl( 2, 84%, 65%);
    --color-accent-h:  2; --color-accent-s:  84%; --color-accent-l:  75%; --color-accent: hsl( 2, 84%, 75%);
    --color-accent-light-h:  2; --color-accent-light-s:  84%; --color-accent-light-l:  85%; --color-accent-light: hsl( 2, 84%, 85%);
    --color-accent-lighter-h:  2; --color-accent-lighter-s:  84%; --color-accent-lighter-l:  95%; --color-accent-lighter: hsl( 2, 84%, 95%);

    --color-secondary-darker-h:  42; --color-secondary-darker-s:  100%; --color-secondary-darker-l:  54%; --color-secondary-darker: hsl( 42, 100%, 54%);
    --color-secondary-dark-h:  42; --color-secondary-dark-s:  100%; --color-secondary-dark-l:  64%; --color-secondary-dark: hsl( 42, 100%, 64%);
    --color-secondary-h:  42; --color-secondary-s:  100%; --color-secondary-l:  74%; --color-secondary: hsl( 42, 100%, 74%);
    --color-secondary-light-h:  42; --color-secondary-light-s:  100%; --color-secondary-light-l:  84%; --color-secondary-light: hsl( 42, 100%, 84%);
    --color-secondary-lighter-h:  42; --color-secondary-lighter-s:  100%; --color-secondary-lighter-l:  94%; --color-secondary-lighter: hsl( 42, 100%, 94%);

    --color-tertiary-darker-h:  193; --color-tertiary-darker-s:  63%; --color-tertiary-darker-l:  60%; --color-tertiary-darker: hsl( 193, 63%, 60%);
    --color-tertiary-dark-h:  193; --color-tertiary-dark-s:  63%; --color-tertiary-dark-l:  70%; --color-tertiary-dark: hsl( 193, 63%, 70%);
    --color-tertiary-h:  193; --color-tertiary-s:  63%; --color-tertiary-l:  80%; --color-tertiary: hsl( 193, 63%, 80%);
    --color-tertiary-light-h:  193; --color-tertiary-light-s:  63%; --color-tertiary-light-l:  90%; --color-tertiary-light: hsl( 193, 63%, 90%);
    --color-tertiary-lighter-h:  193; --color-tertiary-lighter-s:  63%; --color-tertiary-lighter-l:  100%; --color-tertiary-lighter: hsl( 193, 63%, 100%);

    --color-quaternary-darker-h:  338; --color-quaternary-darker-s:  65%; --color-quaternary-darker-l:  35%; --color-quaternary-darker: hsl( 338, 65%, 35%);
    --color-quaternary-dark-h:  338; --color-quaternary-dark-s:  65%; --color-quaternary-dark-l:  45%; --color-quaternary-dark: hsl( 338, 65%, 45%);
    --color-quaternary-h:  338; --color-quaternary-s:  65%; --color-quaternary-l:  55%; --color-quaternary: hsl( 338, 65%, 55%);
    --color-quaternary-light-h:  338; --color-quaternary-light-s:  65%; --color-quaternary-light-l:  65%; --color-quaternary-light: hsl( 338, 65%, 65%);
    --color-quaternary-lighter-h:  338; --color-quaternary-lighter-s:  65%; --color-quaternary-lighter-l:  75%; --color-quaternary-lighter: hsl( 338, 65%, 75%);

    --color-black-h:  240; --color-black-s:  2%; --color-black-l:  26%; --color-black: hsl( 240, 2%, 26%);
    --color-white-h:  0; --color-white-s:  0%; --color-white-l:  100%; --color-white: hsl( 0, 0%, 100%);

    
    --color-warning-darker-h:  46; --color-warning-darker-s:  100%; --color-warning-darker-l:  47%; --color-warning-darker: hsl( 46, 100%, 47%);
    --color-warning-dark-h:  46; --color-warning-dark-s:  100%; --color-warning-dark-l:  50%; --color-warning-dark: hsl( 46, 100%, 50%);
    --color-warning-h:  46; --color-warning-s:  100%; --color-warning-l:  61%; --color-warning: hsl( 46, 100%, 61%);
    --color-warning-light-h:  46; --color-warning-light-s:  100%; --color-warning-light-l:  71%; --color-warning-light: hsl( 46, 100%, 71%);
    --color-warning-lighter-h:  46; --color-warning-lighter-s:  100%; --color-warning-lighter-l:  80%; --color-warning-lighter: hsl( 46, 100%, 80%);

    --color-success-darker-h:  94; --color-success-darker-s:  48%; --color-success-darker-l:  42%; --color-success-darker: hsl( 94, 48%, 42%);
    --color-success-dark-h:  94; --color-success-dark-s:  48%; --color-success-dark-l:  48%; --color-success-dark: hsl( 94, 48%, 48%);
    --color-success-h:  94; --color-success-s:  48%; --color-success-l:  56%; --color-success: hsl( 94, 48%, 56%);
    --color-success-light-h:  94; --color-success-light-s:  48%; --color-success-light-l:  65%; --color-success-light: hsl( 94, 48%, 65%);
    --color-success-lighter-h:  94; --color-success-lighter-s:  48%; --color-success-lighter-l:  74%; --color-success-lighter: hsl( 94, 48%, 74%);

    --color-error-darker-h:  349; --color-error-darker-s:  75%; --color-error-darker-l:  36%; --color-error-darker: hsl( 349, 75%, 36%);
    --color-error-dark-h:  349; --color-error-dark-s:  75%; --color-error-dark-l:  44%; --color-error-dark: hsl( 349, 75%, 44%);
    --color-error-h:  349; --color-error-s:  75%; --color-error-l:  51%; --color-error: hsl( 349, 75%, 51%);
    --color-error-light-h:  349; --color-error-light-s:  75%; --color-error-light-l:  59%; --color-error-light: hsl( 349, 75%, 59%);
    --color-error-lighter-h:  349; --color-error-lighter-s:  75%; --color-error-lighter-l:  67%; --color-error-lighter: hsl( 349, 75%, 67%);

    
    --color-bg-h:  0; --color-bg-s:  0%; --color-bg-l:  15%; --color-bg: hsl( 0, 0%, 15%);
    --color-contrast-lower-h:  0; --color-contrast-lower-s:  0%; --color-contrast-lower-l:  18%; --color-contrast-lower: hsl( 0, 0%, 18%);
    --color-contrast-low-h:  0; --color-contrast-low-s:  0%; --color-contrast-low-l:  27%; --color-contrast-low: hsl( 0, 0%, 27%);
    --color-contrast-medium-h:  0; --color-contrast-medium-s:  0%; --color-contrast-medium-l:  58%; --color-contrast-medium: hsl( 0, 0%, 58%);
    --color-contrast-high-h:  0; --color-contrast-high-s:  0%; --color-contrast-high-l:  89%; --color-contrast-high: hsl( 0, 0%, 89%);
    --color-contrast-higher-h:  0; --color-contrast-higher-s:  0%; --color-contrast-higher-l:  100%; --color-contrast-higher: hsl( 0, 0%, 100%);

    
    --gradient-primary-stop-1-h:  2; --gradient-primary-stop-1-s:  84%; --gradient-primary-stop-1-l:  75%; --gradient-primary-stop-1: hsl( 2, 84%, 75%);
    --gradient-primary-stop-2-h:  42; --gradient-primary-stop-2-s:  100%; --gradient-primary-stop-2-l:  74%; --gradient-primary-stop-2: hsl( 42, 100%, 74%);
    --gradient-secondary-stop-1-h:  338; --gradient-secondary-stop-1-s:  65%; --gradient-secondary-stop-1-l:  55%; --gradient-secondary-stop-1: hsl( 338, 65%, 55%);
    --gradient-secondary-stop-2-h:  214; --gradient-secondary-stop-2-s:  44%; --gradient-secondary-stop-2-l:  59%; --gradient-secondary-stop-2: hsl( 214, 44%, 59%);
    --gradient-tertiary-stop-1-h:  164; --gradient-tertiary-stop-1-s:  44%; --gradient-tertiary-stop-1-l:  59%; --gradient-tertiary-stop-1: hsl( 164, 44%, 59%);
    --gradient-tertiary-stop-2-h:  240; --gradient-tertiary-stop-2-s:  2%; --gradient-tertiary-stop-2-l:  26%; --gradient-tertiary-stop-2: hsl( 240, 2%, 26%);

    
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }
}

@supports(--css: variables) {
  [data-theme="green"] {
    
    --color-primary-darker-h:  164; --color-primary-darker-s:  44%; --color-primary-darker-l:  39%; --color-primary-darker: hsl( 164, 44%, 39%);
    --color-primary-dark-h:  164; --color-primary-dark-s:  44%; --color-primary-dark-l:  49%; --color-primary-dark: hsl( 164, 44%, 49%);
    --color-primary-h:  164; --color-primary-s:  44%; --color-primary-l:  59%; --color-primary: hsl( 164, 44%, 59%);
    --color-primary-light-h:  164; --color-primary-light-s:  44%; --color-primary-light-l:  69%; --color-primary-light: hsl( 164, 44%, 69%);
    --color-primary-lighter-h:  164; --color-primary-lighter-s:  44%; --color-primary-lighter-l:  79%; --color-primary-lighter: hsl( 164, 44%, 79%);

    --color-accent-darker-h:  2; --color-accent-darker-s:  84%; --color-accent-darker-l:  55%; --color-accent-darker: hsl( 2, 84%, 55%);
    --color-accent-dark-h:  2; --color-accent-dark-s:  84%; --color-accent-dark-l:  65%; --color-accent-dark: hsl( 2, 84%, 65%);
    --color-accent-h:  2; --color-accent-s:  84%; --color-accent-l:  75%; --color-accent: hsl( 2, 84%, 75%);
    --color-accent-light-h:  2; --color-accent-light-s:  84%; --color-accent-light-l:  85%; --color-accent-light: hsl( 2, 84%, 85%);
    --color-accent-lighter-h:  2; --color-accent-lighter-s:  84%; --color-accent-lighter-l:  95%; --color-accent-lighter: hsl( 2, 84%, 95%);

    --color-secondary-darker-h:  42; --color-secondary-darker-s:  100%; --color-secondary-darker-l:  54%; --color-secondary-darker: hsl( 42, 100%, 54%);
    --color-secondary-dark-h:  42; --color-secondary-dark-s:  100%; --color-secondary-dark-l:  64%; --color-secondary-dark: hsl( 42, 100%, 64%);
    --color-secondary-h:  42; --color-secondary-s:  100%; --color-secondary-l:  74%; --color-secondary: hsl( 42, 100%, 74%);
    --color-secondary-light-h:  42; --color-secondary-light-s:  100%; --color-secondary-light-l:  84%; --color-secondary-light: hsl( 42, 100%, 84%);
    --color-secondary-lighter-h:  42; --color-secondary-lighter-s:  100%; --color-secondary-lighter-l:  94%; --color-secondary-lighter: hsl( 42, 100%, 94%);

    --color-tertiary-darker-h:  193; --color-tertiary-darker-s:  63%; --color-tertiary-darker-l:  60%; --color-tertiary-darker: hsl( 193, 63%, 60%);
    --color-tertiary-dark-h:  193; --color-tertiary-dark-s:  63%; --color-tertiary-dark-l:  70%; --color-tertiary-dark: hsl( 193, 63%, 70%);
    --color-tertiary-h:  193; --color-tertiary-s:  63%; --color-tertiary-l:  80%; --color-tertiary: hsl( 193, 63%, 80%);
    --color-tertiary-light-h:  193; --color-tertiary-light-s:  63%; --color-tertiary-light-l:  90%; --color-tertiary-light: hsl( 193, 63%, 90%);
    --color-tertiary-lighter-h:  193; --color-tertiary-lighter-s:  63%; --color-tertiary-lighter-l:  100%; --color-tertiary-lighter: hsl( 193, 63%, 100%);

    --color-quaternary-darker-h:  338; --color-quaternary-darker-s:  65%; --color-quaternary-darker-l:  35%; --color-quaternary-darker: hsl( 338, 65%, 35%);
    --color-quaternary-dark-h:  338; --color-quaternary-dark-s:  65%; --color-quaternary-dark-l:  45%; --color-quaternary-dark: hsl( 338, 65%, 45%);
    --color-quaternary-h:  338; --color-quaternary-s:  65%; --color-quaternary-l:  55%; --color-quaternary: hsl( 338, 65%, 55%);
    --color-quaternary-light-h:  338; --color-quaternary-light-s:  65%; --color-quaternary-light-l:  65%; --color-quaternary-light: hsl( 338, 65%, 65%);
    --color-quaternary-lighter-h:  338; --color-quaternary-lighter-s:  65%; --color-quaternary-lighter-l:  75%; --color-quaternary-lighter: hsl( 338, 65%, 75%);

    --color-black-h:  240; --color-black-s:  2%; --color-black-l:  26%; --color-black: hsl( 240, 2%, 26%);
    --color-white-h:  0; --color-white-s:  0%; --color-white-l:  100%; --color-white: hsl( 0, 0%, 100%);

    
    --color-warning-darker-h:  46; --color-warning-darker-s:  100%; --color-warning-darker-l:  47%; --color-warning-darker: hsl( 46, 100%, 47%);
    --color-warning-dark-h:  46; --color-warning-dark-s:  100%; --color-warning-dark-l:  50%; --color-warning-dark: hsl( 46, 100%, 50%);
    --color-warning-h:  46; --color-warning-s:  100%; --color-warning-l:  61%; --color-warning: hsl( 46, 100%, 61%);
    --color-warning-light-h:  46; --color-warning-light-s:  100%; --color-warning-light-l:  71%; --color-warning-light: hsl( 46, 100%, 71%);
    --color-warning-lighter-h:  46; --color-warning-lighter-s:  100%; --color-warning-lighter-l:  80%; --color-warning-lighter: hsl( 46, 100%, 80%);

    --color-success-darker-h:  94; --color-success-darker-s:  48%; --color-success-darker-l:  42%; --color-success-darker: hsl( 94, 48%, 42%);
    --color-success-dark-h:  94; --color-success-dark-s:  48%; --color-success-dark-l:  48%; --color-success-dark: hsl( 94, 48%, 48%);
    --color-success-h:  94; --color-success-s:  48%; --color-success-l:  56%; --color-success: hsl( 94, 48%, 56%);
    --color-success-light-h:  94; --color-success-light-s:  48%; --color-success-light-l:  65%; --color-success-light: hsl( 94, 48%, 65%);
    --color-success-lighter-h:  94; --color-success-lighter-s:  48%; --color-success-lighter-l:  74%; --color-success-lighter: hsl( 94, 48%, 74%);

    --color-error-darker-h:  349; --color-error-darker-s:  75%; --color-error-darker-l:  36%; --color-error-darker: hsl( 349, 75%, 36%);
    --color-error-dark-h:  349; --color-error-dark-s:  75%; --color-error-dark-l:  44%; --color-error-dark: hsl( 349, 75%, 44%);
    --color-error-h:  349; --color-error-s:  75%; --color-error-l:  51%; --color-error: hsl( 349, 75%, 51%);
    --color-error-light-h:  349; --color-error-light-s:  75%; --color-error-light-l:  59%; --color-error-light: hsl( 349, 75%, 59%);
    --color-error-lighter-h:  349; --color-error-lighter-s:  75%; --color-error-lighter-l:  67%; --color-error-lighter: hsl( 349, 75%, 67%);

    
    --color-bg-h:  164; --color-bg-s:  44%; --color-bg-l:  59%; --color-bg: hsl( 164, 44%, 59%);
    --color-contrast-lower-h:  164; --color-contrast-lower-s:  43%; --color-contrast-lower-l:  61%; --color-contrast-lower: hsl( 164, 43%, 61%);
    --color-contrast-low-h:  164; --color-contrast-low-s:  43%; --color-contrast-low-l:  66%; --color-contrast-low: hsl( 164, 43%, 66%);
    --color-contrast-medium-h:  162; --color-contrast-medium-s:  43%; --color-contrast-medium-l:  82%; --color-contrast-medium: hsl( 162, 43%, 82%);
    --color-contrast-high-h:  162; --color-contrast-high-s:  45%; --color-contrast-high-l:  96%; --color-contrast-high: hsl( 162, 45%, 96%);
    --color-contrast-higher-h:  0; --color-contrast-higher-s:  0%; --color-contrast-higher-l:  100%; --color-contrast-higher: hsl( 0, 0%, 100%);

    
    --gradient-primary-stop-1-h:  2; --gradient-primary-stop-1-s:  84%; --gradient-primary-stop-1-l:  75%; --gradient-primary-stop-1: hsl( 2, 84%, 75%);
    --gradient-primary-stop-2-h:  42; --gradient-primary-stop-2-s:  100%; --gradient-primary-stop-2-l:  74%; --gradient-primary-stop-2: hsl( 42, 100%, 74%);
    --gradient-secondary-stop-1-h:  338; --gradient-secondary-stop-1-s:  65%; --gradient-secondary-stop-1-l:  55%; --gradient-secondary-stop-1: hsl( 338, 65%, 55%);
    --gradient-secondary-stop-2-h:  214; --gradient-secondary-stop-2-s:  44%; --gradient-secondary-stop-2-l:  59%; --gradient-secondary-stop-2: hsl( 214, 44%, 59%);
    --gradient-tertiary-stop-1-h:  164; --gradient-tertiary-stop-1-s:  44%; --gradient-tertiary-stop-1-l:  59%; --gradient-tertiary-stop-1: hsl( 164, 44%, 59%);
    --gradient-tertiary-stop-2-h:  240; --gradient-tertiary-stop-2-s:  2%; --gradient-tertiary-stop-2-l:  26%; --gradient-tertiary-stop-2: hsl( 240, 2%, 26%);
  }
}


.bg-secondary-darker { background-color: var(--color-secondary-darker); }
.bg-secondary-dark { background-color: var(--color-secondary-dark); }
.bg-secondary { background-color: var(--color-secondary); }
.bg-secondary-light { background-color: var(--color-secondary-light); }
.bg-secondary-lighter { background-color: var(--color-secondary-lighter); }
.bg-tertiary-darker { background-color: var(--color-tertiary-darker); }
.bg-tertiary-dark { background-color: var(--color-tertiary-dark); }
.bg-tertiary { background-color: var(--color-tertiary); }
.bg-tertiary-light { background-color: var(--color-tertiary-light); }
.bg-tertiary-lighter { background-color: var(--color-tertiary-lighter); }
.bg-quaternary-darker { background-color: var(--color-quaternary-darker); }
.bg-quaternary-dark { background-color: var(--color-quaternary-dark); }
.bg-quaternary { background-color: var(--color-quaternary); }
.bg-quaternary-light { background-color: var(--color-quaternary-light); }
.bg-quaternary-lighter { background-color: var(--color-quaternary-lighter); }


.bg-gradient-primary { background-image: radial-gradient(var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
.bg-gradient-primary-top { background-image: linear-gradient(0deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
.bg-gradient-primary-right { background-image: linear-gradient(90deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
.bg-gradient-primary-bottom { background-image: linear-gradient(180deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
.bg-gradient-primary-left { background-image: linear-gradient(270deg, var(--gradient-primary-stop-1), var(--gradient-primary-stop-2)); }
.bg-gradient-secondary { background-image: radial-gradient(var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)); }
.bg-gradient-secondary-top { background-image: linear-gradient(0deg, var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)); }
.bg-gradient-secondary-right { background-image: linear-gradient(90deg, var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)); }
.bg-gradient-secondary-bottom { background-image: linear-gradient(180deg, var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)); }
.bg-gradient-secondary-left { background-image: linear-gradient(270deg, var(--gradient-secondary-stop-1), var(--gradient-secondary-stop-2)); }
.bg-gradient-tertiary { background-image: radial-gradient(var(--gradient-tertiary-stop-1), var(--gradient-tertiary-stop-2)); }
.bg-gradient-tertiary-top { background-image: linear-gradient(0deg, var(--gradient-tertiary-stop-1), var(--gradient-tertiary-stop-2)); }
.bg-gradient-tertiary-right { background-image: linear-gradient(90deg, var(--gradient-tertiary-stop-1), var(--gradient-tertiary-stop-2)); }
.bg-gradient-tertiary-bottom { background-image: linear-gradient(180deg, var(--gradient-tertiary-stop-1), var(--gradient-tertiary-stop-2)); }
.bg-gradient-tertiary-left { background-image: linear-gradient(270deg, var(--gradient-tertiary-stop-1), var(--gradient-tertiary-stop-2)); }


.border-secondary-darker { border-color: var(--color-secondary-darker); }
.border-secondary-dark { border-color: var(--color-secondary-dark); }
.border-secondary { border-color: var(--color-secondary); }
.border-secondary-light { border-color: var(--color-secondary-light); }
.border-secondary-lighter { border-color: var(--color-secondary-lighter); }
.border-tertiary-darker { border-color: var(--color-tertiary-darker); }
.border-tertiary-dark { border-color: var(--color-tertiary-dark); }
.border-tertiary { border-color: var(--color-tertiary); }
.border-tertiary-light { border-color: var(--color-tertiary-light); }
.border-tertiary-lighter { border-color: var(--color-tertiary-lighter); }
.border-quaternary-darker { border-color: var(--color-quaternary-darker); }
.border-quaternary-dark { border-color: var(--color-quaternary-dark); }
.border-quaternary { border-color: var(--color-quaternary); }
.border-quaternary-light { border-color: var(--color-quaternary-light); }
.border-quaternary-lighter { border-color: var(--color-quaternary-lighter); }:root {--font-primary: Inter, sans-serif;--text-base-size: 1em;--text-scale-ratio: 1.2;--body-line-height: 1.5;--heading-line-height: 1.2;--text-unit: 1em}root, * {--text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));--text-sm: calc(var(--text-xs) * var(--text-scale-ratio));--text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));--text-lg: calc(var(--text-md) * var(--text-scale-ratio));--text-xl: calc(var(--text-lg) * var(--text-scale-ratio));--text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));--text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));--text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));}@media (min-width:32rem) {:root{}}@media (min-width:48rem) {:root{}}@media (min-width:64rem) {:root{--text-base-size: 1.25em;--text-scale-ratio: 1.25;}}@media (min-width:80rem) {:root{}}@media (min-width:90rem) {:root{}}.font-primary{font-family: var(--font-primary);}body{font-family: Inter, sans-serif;}h1, h2, h3, h4{font-family: Inter, sans-serif;font-weight: 700;}@media (min-width:32rem) {body{}}@media (min-width:32rem) {h1, h2, h3, h4{}}@media (min-width:48rem) {body{}}@media (min-width:48rem) {h1, h2, h3, h4{}}@media (min-width:64rem) {body{}}@media (min-width:64rem) {h1, h2, h3, h4{}}@media (min-width:80rem) {body{}}@media (min-width:80rem) {h1, h2, h3, h4{}}@media (min-width:90rem) {body{}}@media (min-width:90rem) {h1, h2, h3, h4{}}:root{--btn-font-size:1em;--btn-font-size-sm:0.8em;--btn-font-size-md:1.2em;--btn-font-size-lg:1.4em;--btn-padding-x:var(--space-md);--btn-padding-y:var(--space-xs);--btn-radius:0.25em;}.btn{border-radius: 0.25em;cursor: pointer;padding: var(--space-xs) var(--space-md);--btn-font-size: 1em;text-decoration: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;box-shadow: 0px 2px 8px 0 hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.12), 0px 1px 1px 0 hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.12);transition: all 0.3s ease;will-change: transform;}.btn:hover{box-shadow: inset 0px 1px 2px 0px hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.12), 0px 1px 1px 0px hsla(var(--color-black-h), var(--color-black-s), var(--color-black-l), 0.12);transform: scaleX();}.btn:focus{box-shadow: 0px 0px 0px 2px hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.15);outline: none;}.btn:active{transform: translateY(2px);}.btn--primary{background: var(--color-primary);color: var(--color-white);-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}.btn--primary:hover{background: var(--color-primary-dark);}.btn--primary:focus{box-shadow: 0px 0px 0px 2px hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.2);}.btn--primary:active{}.btn--subtle{background: var(--color-contrast-lower);color: var(--color-contrast-higher);}.btn--subtle:hover{}.btn--subtle:focus{}.btn--subtle:active{}.btn--accent{background: var(--color-accent);color: var(--color-white);-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}.btn--accent:hover{background: var(--color-accent-dark);}.btn--accent:focus{box-shadow: 0px 0px 0px 2px hsla(var(--color-accent-h), var(--color-accent-s), var(--color-accent-l), 0.2);}.btn--accent:active{}.btn--disabled, .btn[disabled], .btn[readonly]{opacity: 0.6;cursor: not-allowed;}.btn--disabled:hover, .btn[disabled]:hover, .btn[readonly]:hover{}.btn--disabled:focus, .btn[disabled]:focus, .btn[readonly]:focus{}.btn--disabled:active, .btn[disabled]:active, .btn[readonly]:active{}.btn--sm{font-size: 0.8em;}.btn--sm:hover{}.btn--sm:focus{}.btn--sm:active{}.btn--md{font-size: 1.2em;}.btn--md:hover{}.btn--md:focus{}.btn--md:active{}.btn--lg{font-size: 1.4em;}.btn--lg:hover{}.btn--lg:focus{}.btn--lg:active{}.btn--green{border-bottom: 4px solid var(--color-secondary);}.btn--green:hover{}.btn--green:focus{}.btn--green:active{}.btn--icon {padding: var(--space-xs);}.form-control{background: var(--color-bg);border-radius: 0.25em;padding: var(--space-xs) var(--space-sm);border: 2px solid var(--color-contrast-low);transition: all 0.3s ease;}.form-control::placeholder {  opacity: 1;  color: var(--color-contrast-medium);}.form-control:hover{}.form-control:focus{border-color: var(--color-primary);box-shadow: 0px 0px 0px 2px hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.2) !important;outline: none;}.form-control:active{}.form-control--disabled, .form-control[disabled], .form-control[readonly]{cursor: not-allowed;}.form-control--disabled:hover, .form-control[disabled]:hover, .form-control[readonly]:hover{}.form-control--disabled:focus, .form-control[disabled]:focus, .form-control[readonly]:focus{}.form-control--disabled:active, .form-control[disabled]:active, .form-control[readonly]:active{}.form-control[aria-invalid="true"], .form-control--error{border-color: var(--color-error);}.form-control[aria-invalid="true"]:hover, .form-control--error:hover{}.form-control[aria-invalid="true"]:focus, .form-control--error:focus{box-shadow: 0px 0px 0px 2px hsla(var(--color-error-h), var(--color-error-s), var(--color-error-l), 0.2) !important;}.form-control[aria-invalid="true"]:active, .form-control--error:active{}.form-legend{font-size: var(--text-md);}.form-legend:hover{}.form-legend:focus{}.form-legend:active{}.form-label{font-size: var(--text-sm);}.form-label:hover{}.form-label:focus{}.form-label:active{}:root{--form-control-padding-x:var(--space-sm);--form-control-padding-y:var(--space-xs);--form-control-radius:0.25em;}:root {
  --space-unit: 1em;
}

:root, * {
  --space-xxxxs: calc(0.125 * var(--space-unit));
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(13.75 * var(--space-unit));
  --component-padding: var(--space-md);
}

@media (min-width:64rem)  {
    :root {
      --space-unit: 1.25em;
    }.hover\:reduce-opacity{opacity: 1;transition: all 0.3s ease;}.hover\:reduce-opacity:hover{opacity: 0.8;}.hover\:reduce-opacity:focus{}.hover\:reduce-opacity:active{}.hover\:scale{transition: transform 0.3s var(--ease-out-back);}.hover\:scale:hover{transform: scale(1.1);}.hover\:scale:focus{}.hover\:scale:active{}.hover\:elevate{box-shadow: var(--shadow-sm);transition: all 0.3s ease;}.hover\:elevate:hover{box-shadow: var(--shadow-md);}.hover\:elevate:focus{}.hover\:elevate:active{}.link-subtle{color: inherit;cursor: pointer;text-decoration: none;transition: all 0.2s ease;}.link-subtle:hover{color: var(--color-primary);}.link-subtle:focus{}.link-subtle:active{}